schemas/BaseElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Andrew Steven Pollock (Conservation Services Group) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hpxml.org/hpxml/2011/1"
	targetNamespace="http://hpxml.org/hpxml/2011/1" elementFormDefault="qualified"
	attributeFormDefault="qualified">
	<xs:include schemaLocation="HPXMLDataTypes.xsd"/>
	<xs:import/>
	<xs:element name="XMLTransactionHeaderInformation">
		<xs:annotation>
			<xs:documentation>These are a series of elements that indicate the type of XML and basic descriptive data about the XML.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="XMLType" type="XMLType"/>
				<xs:element name="XMLGeneratedBy" type="XMLGeneratedBy"/>
				<xs:element name="CreatedDateAndTime" type="CreatedDateAndTime"/>
				<xs:element name="Transaction" type="TransactionType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="AddressInformation">
		<xs:annotation>
			<xs:documentation>Address information contains the basic descriptive elements of a location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddressType" type="AddressTypeCode"/>
			<xs:element name="Address1" type="Address1" minOccurs="0"/>
			<xs:element name="Address2" type="Address2" minOccurs="0"/>
			<xs:element name="CityMunicipality" type="CityMunicipality"/>
			<xs:element name="StateCode" type="StateCode"/>
			<xs:element name="ZipCodePlus4" type="ZipCodePlus4"/>
			<xs:element name="USPSBarCode" type="USPSBarCode" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="SystemIdentifiersInfoType">
		<xs:annotation>
			<xs:documentation>System identifiers contain type codes and an identifier for both a sending and a receiving system.  These fields are needed to be able to transmit data between two systems, and have it identified in the two systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SendingSystemIdentifierType" type="SendingSystemIdentifierType"
				minOccurs="0"/>
			<xs:element name="SendingSystemIdentifierValue" type="SendingSystemIdentifierValue"
				minOccurs="0"/>
			<xs:element name="ReceivingSystemIdentifierType" type="ReceivingSystemIdentifierType"
				minOccurs="0"/>
			<xs:element name="ReceivingSystemIdentifierValue" type="ReceivingSystemIdentifierValue"
				minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:integer"/>
	</xs:complexType>
	<xs:element name="AddressSystemIdentifiers" type="SystemIdentifiersInfoType">
		<xs:annotation>
			<xs:documentation>Most HPXML records contain data about a specfic address, or location.  This element contains the root elements for address identifier values between a sending and a receiving system.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IndividualSystemIdentifiers" type="SystemIdentifiersInfoType">
		<xs:annotation>
			<xs:documentation>HPXML records may contain data about an individual, either a person, or a business.  This element contains the root elements for individual identifier values between a sending and a receiving system.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContractorSystemIdentifiers" type="SystemIdentifiersInfoType">
		<xs:annotation>
			<xs:documentation>These are the system identifiers for a specific contractor at a business</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MiscDataFields">
		<xs:annotation>
			<xs:documentation>These attributes allow for the addition of undefined data fields to any attribute group.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="FieldSequenceNumber" type="FieldSequenceNumber"/>
				<xs:element name="FieldName" type="FieldName"/>
				<xs:element name="FieldDataType" type="FieldDataType"/>
				<xs:element name="FieldValue" type="FieldValue"/>
				<xs:element name="FieldMask" type="FieldMask" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="ExtensibilityGroup">
		<xs:sequence>
			<xs:element ref="MiscDataFields" minOccurs="0"/>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="StandardMeasureFieldsGroup">
		<xs:sequence>
			<xs:element name="FieldSequenceNumber" type="FieldSequenceNumber"/>
			<xs:element name="MeasureTypeCode" type="MeasureTypeCode" minOccurs="0"/>
			<xs:element name="PreOrPost" type="PreOrPost" minOccurs="0"/>
			<xs:element name="ImplementationCost" type="xs:double" minOccurs="0"/>
			<xs:element name="AdditionalInformation" type="xs:string" minOccurs="0"/>
			<xs:element name="CompletionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date measure was completed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContractorSystemIdentifiers" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="EnergySavingsInfo" minOccurs="0"/>
			<xs:element ref="Associations" minOccurs="0"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ComponentsReplaced"
				type="SystemIdentifiersInfoType"/>
			<xs:element name="ComponentRemoved" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="TotalCost">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TotalCostHealthSafetyMeasures"
					type="TotalCostHealthSafetyMeasures" minOccurs="0"/>
				<xs:element name="TotalCostQualEnergyMeasures" type="TotalCostQualEnergyMeasures"
					minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TelephoneInfo">
		<xs:annotation>
			<xs:documentation>Contains all telephone elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TelephoneTypeCode" type="TelephoneTypeCode"/>
				<xs:element name="TelephoneNumber" type="TelephoneNumber"/>
				<xs:element name="TelephoneExtension" type="TelephoneExtension" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailInfo">
		<xs:annotation>
			<xs:documentation>Contains all email elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="EmailTypeCode" type="EmailTypeCode"/>
				<xs:element name="EmailAddress" type="EmailAddress"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IndividualNameInfo">
		<xs:annotation>
			<xs:documentation>Contains all name elements for either an individual or a business.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NameTypeCode" type="NameTypeCode"/>
				<xs:element name="FirstName" type="FirstName"/>
				<xs:element name="LastName" type="LastName"/>
				<xs:element name="MiddleName" type="MiddleName" minOccurs="0"/>
				<xs:element name="PrefixName" type="PrefixName" minOccurs="0"/>
				<xs:element name="SuffixName" type="SuffixName" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="IndividualInfo">
		<xs:sequence>
			<xs:element ref="IndividualSystemIdentifiers"/>
			<xs:element ref="IndividualNameInfo"/>
			<xs:element ref="TelephoneInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="EmailInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IndividualType" type="IndividualTypeCode"/>
			<xs:group ref="ExtensibilityGroup"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="UtilityInfo">
		<xs:annotation>
			<xs:documentation>Contains all utility elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UtilityIdentifiers" type="SystemIdentifiersInfoType"/>
				<xs:element name="UtilityAccountNumber" type="UtilityAccountNumber"/>
				<xs:element name="UtilityName" type="UtilityName" minOccurs="0"/>
				<xs:element name="UtilityServiceTypeProvided" type="UtilityServiceTypeProvided"
					minOccurs="0"/>
				<xs:element ref="BusinessInfo" minOccurs="0"/>
				<xs:element ref="BusinessContactInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IndividualSystemIdentifiers"/>
				<xs:element ref="BusinessNameInfo"/>
				<xs:element name="BusinessSpecialization" type="BusinessSpecialization"
					minOccurs="0"/>
				<xs:element name="BusinessType" type="BusinessType" minOccurs="0"/>
				<xs:element ref="EmailInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TelephoneInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessContactInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContactType" type="ContactType" minOccurs="0"/>
				<xs:element name="FirstName" type="FirstName" minOccurs="0"/>
				<xs:element name="LastName" type="LastName" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BusinessNameInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NameTypeCode" type="NameTypeCode"/>
				<xs:element name="BusinessName" type="BusinessName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AirInfiltrationMeasurement">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="Date" type="xs:date"/>
				<xs:element minOccurs="1" name="Event" type="Event"/>
				<xs:element name="BuildingAirLeakage" type="BuildingAirLeakage" minOccurs="1"/>
				<xs:element name="BuildingAirLeakageUnit" type="BuildingAirLeakageUnit"
					minOccurs="1"/>
				<xs:element name="TypeOfTest" type="TypeofInfiltrationMeasurement" minOccurs="0"/>
				<xs:element name="HousePressure" type="xs:double" minOccurs="0"/>
				<xs:element name="FanPressure" type="FanPressure" minOccurs="0"/>
				<xs:element name="FanRingUsed" type="FanRingUsed" minOccurs="0"/>
				<xs:element name="TypeOfBlowerDoorTest" type="TypeofBlowerDoorTest" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClimateandRiskZonesInfo">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="ClimateZoneDOE" type="ClimateZoneDOE" minOccurs="0"/>
				<xs:element name="ClimateZoneIECC" type="ClimateZoneIECC" minOccurs="0"/>
				<xs:element name="RadonZone" type="RadonZone" minOccurs="0"/>
				<xs:element name="TermiteZone" type="TermiteZone" minOccurs="0"/>
				<xs:element name="HurricaneZone" type="xs:boolean" minOccurs="0"/>
				<xs:element name="FloodZone" type="xs:boolean" minOccurs="0"/>
				<xs:element name="EarthquakeZone" type="EarthquakeZone" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstructionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="YearBuilt" type="YearBuilt" minOccurs="0"/>
				<xs:element name="HomeType" type="Hometype" minOccurs="0"/>
				<xs:element name="NumberofUnitsRetrofit" type="NumberofUnitsRetrofit" minOccurs="0"/>
				<xs:element name="NumberofOccupants" type="NumberofOccupants" minOccurs="0"/>
				<xs:element name="NumberofBedrooms" type="NumberofBedrooms" minOccurs="0"/>
				<xs:element name="NumberofBathrooms" type="NumberofBedrooms" minOccurs="0"/>
				<xs:element minOccurs="0" name="OrientationOfFrontOfHome" type="OrientationType"/>
				<xs:element minOccurs="0" name="AzimuthOfFrontOfHome" type="AzimuthType"/>
				<xs:element name="NumberofStoriesAboveGrade" type="NumberofStoriesAboveGrade"
					minOccurs="0"/>
				<xs:element name="AverageCeilingHeight" type="AverageCeilingHeightType"
					minOccurs="0"/>
				<xs:element name="ConditionedFloorArea" type="SurfaceArea" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Floor area of home that is heated or cooled in sq.ft.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ConditionedVolume" type="Volume" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ft^3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="FinishedFloorArea" type="SurfaceArea">
					<xs:annotation>
						<xs:documentation>Floor area of home that is finished and assumed to be occupied, in sq.ft.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FoundationType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Primary foundation type of building</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:union memberTypes="FoundationType FoundationTypeCombined"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AtticType" type="AtticType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Primary attic type of building</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ShieldingofHome" type="ShieldingofHome" minOccurs="0"/>
				<xs:element minOccurs="0" name="GaragePresent" type="xs:boolean"/>
				<xs:element minOccurs="0" name="GarageLocation" type="GarageLocation"/>
				<xs:element minOccurs="0" name="SpaceAboveGarage" type="SpaceAboveGarage"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsumptionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UtilityID" type="SystemIdentifiersInfoType"/>
				<xs:element name="ConsumptionType" type="ConsumptionType">
					<xs:annotation>
						<xs:documentation>Energy Type + other consumption types like water</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UnitofMeasure" type="energyUnitType"/>
				<xs:element ref="ConsumptionDetailInfo" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Consumption records with enough granularity to be able to use smart meter data.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MarginalRate" type="xs:double" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsumptionDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EnergyConsumption" type="EnergyConsumption"/>
				<xs:element name="StartDateTime" type="StartDateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date/time stamp in the ISO 8601 format when the usage measured began. Set time to midnight if time is not known.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EndDateTime" type="EndDateTime">
					<xs:annotation>
						<xs:documentation>Date/time stamp of the meter reading.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ConsumptionCost" type="xs:double" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StoveTest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Fuel" type="HeatingSystemFuel" minOccurs="0"/>
				<xs:element name="COReading" type="COReading" minOccurs="0"/>
				<xs:element name="GasLeaksIdentified" type="GasLeaksIdentified" minOccurs="0"/>
				<xs:element name="HeatingStoveProperlyVented" type="HeatingStoveProperlyVented"
					minOccurs="0"/>
				<xs:element name="ActionsTaken" type="xs:string" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherHealthandSafetyInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ExtDisturbanceExceed6SQFTforPre1978"
					type="ExtDisturbanceExceed6SQFTforPre1978" minOccurs="0"/>
				<xs:element name="OneCODetectorPerFloorMeetsLocalCode"
					type="OneCODetectorPerFloorMeetsLocalCode" minOccurs="0"/>
				<xs:element name="OtherActionsTakenDescription" type="OtherActionsTakenDescription"
					minOccurs="0"/>
				<xs:element name="OtherHealthandSafetyIdentifier"
					type="OtherHealthandSafetyIdentifier" minOccurs="0"/>
				<xs:element name="RadonTested" type="xs:boolean" minOccurs="0"/>
				<xs:element name="RadonTestResults" type="RadonTestResults" minOccurs="0"/>
				<xs:element name="SmokeAlarmsMeetLocalCode" type="SmokeAlarmsMeetLocalCode"
					minOccurs="0"/>
				<xs:element name="OtherHealthandSafetyIssues" type="xs:string" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AirSealingInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
				<xs:element name="ComponentAirSealed" type="AreasAirSealed" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DoorsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="StormDoor" type="StormDoor" minOccurs="0"/>
				<xs:element name="DoorType" type="DoorType" minOccurs="0"/>
				<xs:element name="RValue" type="RValue" minOccurs="0"/>
				<xs:element name="DoorImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsulationInfo">
		<xs:annotation>
			<xs:documentation>Use more than one InsulationInfo element to describe insulation states in time (e.g. 'Pre-retrofit', 'Post-retrofit', 'Proposed').</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="Component" type="InsulatedComponentType"/>
				<xs:element minOccurs="0" name="InsulationGrade" type="InsulationGrade"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="Layer">
					<xs:complexType>
						<xs:sequence maxOccurs="1">
							<xs:element name="InstallationType" type="InstallationType"
								minOccurs="0"/>
							<xs:element name="InsulationMaterial" type="InsulationMaterial"
								minOccurs="0"/>
							<xs:element name="NominalRValue" type="NominalRValue" minOccurs="0"/>
							<xs:element name="Thickness" type="Thickness" minOccurs="0"/>
							<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group minOccurs="0" ref="ExtensibilityGroup"/>
				<xs:element name="InsulationImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LightingInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:choice>
					<xs:sequence>
						<xs:element name="AverageWattage" type="xs:double" minOccurs="0"/>
						<xs:element name="AverageHoursPerDay" type="xs:double" minOccurs="0"/>
						<xs:element name="NumberofUnits" type="xs:integer" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element minOccurs="0" name="FractionIncandescent" type="Fraction">
							<xs:annotation>
								<xs:documentation>Fraction of lights that are incandescent.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="FractionCFL" type="Fraction">
							<xs:annotation>
								<xs:documentation>Fraction of the lights that are compact fluorescent.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="FractionLFL" type="Fraction">
							<xs:annotation>
								<xs:documentation>Fraction of the lights that are linear fluorescent.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="FractionLED" type="Fraction">
							<xs:annotation>
								<xs:documentation>Fraction of lights that are LED.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:choice>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
				<xs:element name="LightingImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LightingControlsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="Type" type="LightingControls" minOccurs="0">
					<xs:annotation>
						<xs:documentation>occupancy sensor, photo sensor, timer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NumberofLightingControls" type="NumberofReplacementsInstalled"
					minOccurs="0"/>
				<xs:element name="Location" type="LightingLocation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>interior, exterior</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LightingControlsImprovmentInfo" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MoistureControlInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="ExteriorLocationsWaterIntrusionorDamage"
					type="ExteriorLocationsWaterIntrusionorDamage" minOccurs="0"/>
				<xs:element name="InteriorLocationsofWaterLeaksorDamage"
					type="InteriorLocationsofWaterLeaksorDamage" minOccurs="0"/>
				<xs:element name="MoistureControlImprovementInfo" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
							<xs:element name="GuttersInstalledorRepaired"
								type="GuttersInstalledorRepaired" minOccurs="0"/>
							<xs:element name="FlashingInstalledorRepaired"
								type="FlashingInstalledorRepaired" minOccurs="0"/>
							<xs:element name="FoundationGradingImproved"
								type="FoundationGradingImproved" minOccurs="0"/>
							<xs:element name="OtherMeasuresImplementedDescription"
								type="OtherMeasuresImplementedDescription" minOccurs="0"/>
							<xs:element name="VaporRetardersInstalled"
								type="VaporRetardersInstalled" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlugLoadControlInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
				<xs:element name="NumberofPlugLoadControls" type="NumberofPlugLoadControls"
					minOccurs="0"/>
				<xs:element name="PlugLoadControlType" minOccurs="0" type="PlugLoadControlType"/>
				<xs:element name="PlugLoadControlImprovementInfo" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShadingAndSolarReflectanceInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element minOccurs="0" name="RoofColor" type="WallAndRoofColor"/>
				<xs:element name="RadiantBarrier" type="RadiantBarrier" minOccurs="0"/>
				<xs:element name="RadiantBarrierLocation" type="RadiantBarrierLocation"
					minOccurs="0"/>
				<xs:element name="ShadingAndSolarReflectanceImprovementInfo" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
							<xs:element name="OtherShadingandSolarMeasuresInstalled"
								type="OtherShadingandSolarMeasuresInstalled" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VentilationInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="MechanicalVentilationDetermination"
					type="MechanicalVentilationDetermination" minOccurs="0"/>
				<xs:element name="MVRatCFM50" type="MVRatCFM50" minOccurs="0"/>
				<xs:element name="MVRDeterminationMethod" type="MVRDeterminationMethod"
					minOccurs="0"/>
				<xs:element name="MVRRecommendation" type="MVRRecommendation" minOccurs="0"/>
				<xs:element name="OtherVentilationIssuesDescription"
					type="OtherVentilationIssuesDescription" minOccurs="0"/>
				<xs:element name="AirLeakage" type="BuildingAirLeakage" minOccurs="0"/>
				<xs:element name="ProperClothersDryerVenting" type="ProperClothersDryerVenting"
					minOccurs="0"/>
				<xs:element name="VentType" type="VentType" minOccurs="0"/>
				<xs:element name="VentLocation" type="VentLocation" minOccurs="0"/>
				<xs:element name="VentstoOutdoors" type="VentstoOutdoors" minOccurs="0"/>
				<xs:element name="AirBarrierBetweenHouseAndGarage" type="xs:boolean" minOccurs="0"/>
				<xs:element name="VentilationImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
							<xs:element name="GarageDuctsandAirHandlersAirSealed"
								type="GarageDuctsandAirHandlersAirSealed" minOccurs="0"/>
							<xs:element name="MechanicalVentilationInstalled"
								type="MechanicalVentilationInstalled" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WindowInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="Glazing" type="Glazing" minOccurs="0"/>
				<xs:element name="Treatments" type="Treatments" minOccurs="0"/>
				<xs:element name="Frame" type="Frame" minOccurs="0"/>
				<xs:element name="Condition" type="WindowCondition" minOccurs="0"/>
				<xs:element name="EnergyStarCertified" type="EnergyStarCertified" minOccurs="0"/>
				<xs:element name="NFRCCertified" type="NFRCCertified" minOccurs="0"/>
				<xs:element minOccurs="0" name="Quantity" type="xs:int"/>
				<xs:element name="UFactor" type="UFactor" minOccurs="0"/>
				<xs:element name="SHGC" type="SHGC" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element minOccurs="1" name="InteriorShading" type="InteriorShading"/>
					<xs:element minOccurs="1" name="InteriorShadingFactor" type="Fraction"/>
				</xs:choice>
				<xs:element minOccurs="0" name="ExteriorShading" type="ExteriorShading"/>
				<xs:element minOccurs="0" name="Overhangs">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Depth" type="LengthMeasurement">
								<xs:annotation>
									<xs:documentation>Depth of overhang measured in inches</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="DistanceToTopOfWindow"
								type="LengthMeasurement">
								<xs:annotation>
									<xs:documentation>Vertical distance from overhang to top of window in inches</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element minOccurs="0" name="DistanceToBottomOfWindow"
								type="LengthMeasurement"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
				<xs:element name="WindowImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CombustionApplicanceTestInfo">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="CAZApplianceType" type="CAZApplianceType"/>
				<xs:element name="CAZApplianceID" type="SystemIdentifiersInfoType"/>
				<xs:element name="FlueInspected" type="FlueInspected" minOccurs="0"/>
				<xs:element name="FlueCondition" type="FlueCondition" minOccurs="0"/>
				<xs:element name="OutsideTemperatureFlueDraftTest"
					type="OutsideTemperatureFlueDraftTest" minOccurs="0"/>
				<xs:element name="StackTemperature" type="StackTemperature" minOccurs="0"/>
				<xs:element name="FuelLeaks" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FuelType" type="energyType"/>
							<xs:element name="LeaksIdentified" type="xs:boolean"/>
							<xs:element name="LeaksAddressed" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="WorstCase-AirHandler" type="WorstCase-AirHandler" minOccurs="0"/>
				<xs:element name="WorstCase-BathExhaustFan" type="WorstCase-BathExhaustFan"
					minOccurs="0"/>
				<xs:element name="WorstCase-KitchenExhaustFan" type="WorstCase-KitchenExhaustFan"
					minOccurs="0"/>
				<xs:element name="WorstCase-ClothesDryer" type="WorstCase-ClothesDryer"
					minOccurs="0"/>
				<xs:element name="WorstCase-CentralVacuum" type="WorstCase-CentralVacuum"
					minOccurs="0"/>
				<xs:element name="WorstCase-BasementDoor" type="WorstCase-BasementDoor"
					minOccurs="0"/>
				<xs:element name="WorstCase-OtherDoors" type="WorstCase-OtherDoors" minOccurs="0"/>
				<xs:element name="WorstCase-OtherDescription" type="WorstCase-OtherDescription"
					minOccurs="0"/>
				<xs:element name="CAZApplicanceTestResult" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NormalWorstCaseIndicator"
								type="NormalWorstCaseIndicator"/>
							<xs:element name="CAZApplianceMeasurement"
								type="CAZApplianceMeasurement"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CombustionApplianceZoneTestInfo">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:group ref="SystemInfo"/>
				<xs:element name="CAZVentConfiguration" type="CAZVentConfiguration" minOccurs="0"/>
				<xs:element name="CAZDepressurizationLimit" type="CAZDepressurizationLimit"
					minOccurs="0"/>
				<xs:element name="WorstCaseConditions" type="WorstCaseConditions" minOccurs="0"/>
				<xs:element name="BaselinePressure" type="BaselinePressure" minOccurs="0">
					<xs:annotation>
						<xs:documentation>With respect to outdoors</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WorstCasePressure" type="WorstCasePressure" minOccurs="0">
					<xs:annotation>
						<xs:documentation>With respect to outdoors</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NetPressureChange" type="NetPressureChange" minOccurs="0"/>
				<xs:element name="DepressurizationFindingWorstCase"
					type="DepressurizationFindingWorstCase" minOccurs="0"/>
				<xs:element name="AmountAmbientCOinCAZduringTesting"
					type="AmountAmbientCOinCAZduringTesting" minOccurs="0"/>
				<xs:element name="AmbientCOinCAZExceeded35ppmduringTesting"
					type="AmbientCOinCAZExceeded35ppmduringTesting" minOccurs="0"/>
				<xs:element ref="CombustionApplicanceTestInfo" minOccurs="0"/>
				<xs:element name="CAZImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoolingSystemInfo" type="CoolingSystemInfoType"/>
	<xs:element name="HeatPumpInfo" type="HeatPumpInfoType"/>
	<xs:element name="ThermostatInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="ThermostatType" type="ThermostatType" minOccurs="0"/>
				<xs:element name="SetpointTempHeatingSeason" type="Temperature" minOccurs="0"/>
				<xs:element name="SetbackTempHeatingSeason" type="Temperature" minOccurs="0"/>
				<xs:element name="TotalSetbackHoursperWeekHeating" type="Hours" minOccurs="0"/>
				<xs:element name="SetbackTempCoolingSeason" type="Temperature" minOccurs="0"/>
				<xs:element name="SetpointTempCoolingSeason" type="Temperature" minOccurs="0"/>
				<xs:element name="TotalSetbackHoursperWeekCooling" type="Hours" minOccurs="0"/>
				<xs:element name="ThermostatImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
							<xs:element name="NumberInstalled" type="xs:integer" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HVACSystemsServed" type="SystemIdentifiersInfoType" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HeatingSystemInfo" type="HeatingSystemInfoType"/>
	<xs:element name="WaterHeatingSystemInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="Fuel" type="HeatingSystemFuel" minOccurs="0"/>
				<xs:element name="Type" type="WaterHeaterType" minOccurs="0"/>
				<xs:element minOccurs="0" name="FracDHWLoadServed" type="Fraction"/>
				<xs:element name="Location" type="WaterHeaterLocation" minOccurs="0"/>
				<xs:element name="Year" type="ModelYear" minOccurs="0"/>
				<xs:element name="Manufacturer" type="Manufacturer" minOccurs="0"/>
				<xs:element name="Model" type="Model" minOccurs="0"/>
				<xs:element name="TankVolume" type="Volume" minOccurs="0">
					<xs:annotation>
						<xs:documentation>in gallons</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="HeatingCapacity" type="Capacity" minOccurs="0">
					<xs:annotation>
						<xs:documentation>in Btuh</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EnergyStarCertified" type="EnergyStarCertified" minOccurs="0"/>
				<xs:element name="EnergyFactor" type="EnergyFactor" minOccurs="0"/>
				<xs:element name="RecoveryEfficiency" type="RecoveryEfficiency" minOccurs="0"/>
				<xs:element name="ThermalEfficiency" type="ThermalEfficiency" minOccurs="0"/>
				<xs:element name="JacketRValue" type="RValue" minOccurs="0"/>
				<xs:element name="PipeRValue" type="RValue" minOccurs="0"/>
				<xs:element name="FracPipeInsulation" type="FracPipeInsulation" minOccurs="0"/>
				<xs:element name="VentSystem" type="VentSystem" minOccurs="0"/>
				<xs:element name="OrphanedIndicator" type="OrphanedIndocator" minOccurs="0"/>
				<xs:element name="MeetsACCA5QIHVACSpecification"
					type="MeetsACCA5QIHVACSpecification" minOccurs="0"/>
				<xs:element name="HotWaterTemperature" type="Temperature" minOccurs="0"/>
				<xs:element name="SharedVenting" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SharedVentingSystemType"
								type="SharedVentingSystemType"/>
							<xs:element name="SharedVentingSystemID"
								type="SystemIdentifiersInfoType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RelatedHeatingSystem" type="SystemIdentifiersInfoType"
					minOccurs="0"/>
				<xs:element name="WaterHeatingImprovementInfo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
							<xs:element name="JacketInstalledIndicator"
								type="JacketInstalledIndicator" minOccurs="0"/>
							<xs:element name="DispositionofExistingSystem"
								type="DispositionofExistingSystem" minOccurs="0"/>
							<xs:element name="RepairsDescription" type="RepairDescription"
								minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="PipeInsulated" type="PipeInsulated" minOccurs="0"/>
							<xs:element name="LinearFTPipeInsulated" type="LinearFTPipeInsulated"
								minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="ApplianceTypeSummaryInfo">
		<xs:sequence>
			<xs:group ref="SystemInfo"/>
			<xs:element name="NumberofUnits" type="NumberofUnits" minOccurs="0"/>
			<xs:element name="EnergyStarCertified" type="EnergyStarCertified" minOccurs="0"/>
			<xs:element name="Manufacturer" type="Manufacturer" minOccurs="0"/>
			<xs:element name="Model" type="Model" minOccurs="0"/>
			<xs:element name="ModelYear" type="ModelYear" minOccurs="0"/>
			<xs:element name="ApplianceImprovementInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
						<xs:element name="DispositionofExistingUnit"
							type="DispositionofExistingUnit" minOccurs="0"/>
						<xs:element name="NumberImproved" type="xs:integer" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element name="ApplianceRepaired" type="xs:boolean" minOccurs="0"/>
							<xs:element name="ApplianceReplaced" type="xs:boolean" minOccurs="0"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="ExtensibilityGroup"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="ClothesDryerDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FuelType" type="FuelType" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClothesDryer">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element ref="ClothesDryerDetailInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClothesWasherDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MEF" type="MEF" minOccurs="0"/>
				<xs:element name="Type" type="ClothesWasherType" minOccurs="0"/>
				<xs:element name="WF" type="WF" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClothesWasher">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element ref="ClothesWasherDetailInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DishwasherDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeatDryDefaultOff" type="HeatDryDefaultOff" minOccurs="0"/>
				<xs:element name="AuxillaryWaterHeaterDefaultOff" type="xs:boolean" minOccurs="0"/>
				<xs:element minOccurs="0" name="RatedAnnualkWh" type="RatedAnnualkWh"/>
				<xs:element minOccurs="0" name="EnergyFactor" type="EnergyFactor"/>
				<xs:element minOccurs="0" name="RatedWaterGalPerCycle" type="RatedWaterGalPerCycle"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dishwasher">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element ref="DishwasherDetailInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FreezerDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RatedAnnualkWh" type="RatedAnnualkWh" minOccurs="0"/>
				<xs:element name="Volume" type="Volume" minOccurs="0">
					<xs:annotation>
						<xs:documentation>in ft^3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Configuration" type="FreezerStyle" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Freezer">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element ref="FreezerDetailInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RefrigeratorDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RatedAnnualkWh" type="RatedAnnualkWh" minOccurs="0"/>
				<xs:element name="PrimaryIndicator" type="PrimaryIndicator" minOccurs="0"/>
				<xs:element name="Volume" type="Volume" minOccurs="0">
					<xs:annotation>
						<xs:documentation>in ft^3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="FreshVolume" type="Volume">
					<xs:annotation>
						<xs:documentation>Volume of refrigerator for keeping food at less than freezing in ft^3.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="FrozenVolume" type="Volume">
					<xs:annotation>
						<xs:documentation>Freezer Volume in ft^3.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Configuration" type="RefrigeratorStyle" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Refrigerator">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element ref="RefrigeratorDetailInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CookingRangeDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FuelType" type="FuelType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CookingRange">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element minOccurs="0" ref="CookingRangeDetailInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OvenDetailInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FuelType" type="FuelType"/>
				<xs:element minOccurs="0" name="AttachedToCookingRange"
					type="SystemIdentifiersInfoType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Oven">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
				<xs:element ref="OvenDetailInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HomeownerQuestionaireInfo">
		<xs:annotation>
			<xs:documentation>Please assign 10 points the reason(s) why you choose to invest in the retrofit. 
You may assign all 10 points to one reason, or distribute the points among several reasons – as long as they total 10.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="Comfort" type="HomeownerQuestionaireScore"/>
				<xs:element name="EnergySavings" type="HomeownerQuestionaireScore"/>
				<xs:element name="IndoorAirQuality" type="HomeownerQuestionaireScore"/>
				<xs:element name="Durability" type="HomeownerQuestionaireScore"/>
				<xs:element name="Environment" type="HomeownerQuestionaireScore"/>
				<xs:element name="SupportLocalBusiness" type="HomeownerQuestionaireScore"/>
				<xs:element name="Other" type="HomeownerQuestionaireScore"/>
				<xs:element name="OtherDescription" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Optional description if Other above is greater than zero.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SoftwareInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SoftwareProgramUsed" type="SoftwareProgramUsed" minOccurs="0"/>
				<xs:element name="SoftwareProgramVersion" type="SoftwareProgramVersion"
					minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnergySavingsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AnnualConsumptionReduction" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="FuelSavings"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnnualElectricityDemandReduction" minOccurs="0"/>
				<xs:element name="AnnualPercentReduction" type="AnnualPCTReductionWholeHome"
					minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ContractorType">
		<xs:sequence>
			<xs:element ref="ContractorSystemIdentifiers"/>
			<xs:element ref="BusinessInfo"/>
			<xs:element ref="BusinessContactInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Certification" type="Certification" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="SubContractor" type="ContractorType" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Enclosure">
		<xs:sequence>
			<xs:element name="AirInfiltration" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="AirInfiltrationMeasurement" minOccurs="0"
							maxOccurs="unbounded"/>
						<xs:element ref="AirSealingInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AtticAndRoof" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ShadingAndSolarReflectanceInfo" minOccurs="0"
							maxOccurs="unbounded"/>
						<xs:element minOccurs="0" name="Attics">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="Attic">
										<xs:complexType>
											<xs:sequence>
												<xs:group ref="SystemInfo"/>
												<xs:element name="AtticType" type="AtticType"/>
												<xs:element ref="InsulationInfo" minOccurs="0"
												maxOccurs="unbounded"/>
												<xs:element name="Area" type="xs:double"
												minOccurs="0"/>
												<xs:element name="IsVented" type="xs:boolean"
												minOccurs="0"/>
												<xs:element minOccurs="0" name="Rafters"
												type="StudDimensions"/>
												<xs:group ref="ExtensibilityGroup"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Foundations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FoundationInfo" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Use a different FoundationInfo element for each type of foundation.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="SystemInfo"/>
									<xs:element name="FoundationType" type="FoundationType"/>
									<xs:element minOccurs="0" name="ThermalBoundary"
										type="FoundationThermalBoundary"/>
									<xs:element name="FrameFloor" maxOccurs="unbounded"
										minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element minOccurs="0" name="FloorJoists"
												type="StudDimensions"/>
												<xs:element minOccurs="0" name="FloorCovering"
												type="FloorCovering"/>
												<xs:element minOccurs="0" name="Area"
												type="SurfaceArea"/>
												<xs:element ref="InsulationInfo" minOccurs="0"
												maxOccurs="unbounded"> </xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="FoundationWall" maxOccurs="unbounded"
										minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element minOccurs="0" name="Type"
												type="FoundationWallType"/>
												<xs:element minOccurs="0" name="Length"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Total length of foundation wall in feet</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="Height"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Total height in feet of foundation wall</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="Area"
												type="SurfaceArea"/>
												<xs:element minOccurs="0" name="Thickness"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Thickness of foundation wall in inches excluding interior framing.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="BelowGradeDepth"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Depth below grade of foundation wall in feet</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="AdjacentTo"
												type="AdjacentTo"/>
												<xs:element minOccurs="0" name="InteriorStuds"
												type="StudDimensions"/>
												<xs:element maxOccurs="unbounded" minOccurs="0"
												ref="InsulationInfo"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Slab" maxOccurs="unbounded" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element minOccurs="0" name="Area"
												type="SurfaceArea">
												<xs:annotation>
												<xs:documentation>Area in sq.ft. of the slab</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="Perimeter"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Length in feet of slab perimeter.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="ExposedPerimeter"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Perimeter of the slab exposed to ambient conditions, in feet.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0"
												name="PerimeterInsulationDepth"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Depth in feet from grade to bottom of vertical slab perimeter insulation</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0"
												name="UnderSlabInsulationWidth"
												type="LengthMeasurement"/>
												<xs:element minOccurs="0"
												name="OnGradeExposedPerimeter"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Perimeter of slab measuerd in feet that is on-grade (2 ft. below grade or less) and exposed to ambient conditions.</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="DepthBelowGrade"
												type="LengthMeasurement">
												<xs:annotation>
												<xs:documentation>Depth from the top of the slab surface to grade in feet</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="FloorCovering"
												type="FloorCovering"/>
												<xs:element maxOccurs="unbounded" minOccurs="0"
												ref="InsulationInfo"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="RimJoists">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="RimJoistInfo">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="SystemInfo"/>
									<xs:element minOccurs="0" name="Area" type="SurfaceArea"/>
									<xs:element minOccurs="0" name="AdjacentTo" type="AdjacentTo"/>
									<xs:element minOccurs="0" name="FloorJoists"
										type="StudDimensions"/>
									<xs:element ref="InsulationInfo" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Walls" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wall" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="SystemInfo"/>
									<xs:element name="WallType" type="WallType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>ie Wood Stud Wall, Double Stud Wall, CMU, SIP, etc. Need to add enumerator?</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element minOccurs="0" name="Area" type="SurfaceArea"/>
									<xs:element name="AdjacentTo" type="AdjacentTo" minOccurs="0">
										<xs:annotation>
											<xs:documentation>ie above ground, basement, crawlspace, garage.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element minOccurs="0" name="Orientation"
										type="OrientationType"/>
									<xs:element name="Azimuth" type="AzimuthType" minOccurs="0"/>
									<xs:element minOccurs="0" name="Studs" type="StudDimensions"/>
									<xs:element minOccurs="0" name="Siding" type="Siding"/>
									<xs:element minOccurs="0" name="Color" type="WallAndRoofColor"/>
									<xs:element ref="InsulationInfo" minOccurs="0"
										maxOccurs="unbounded"/>
									<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Windows" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WindowGroup" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Window Group is a set of windows with the same or identical characteristics</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="WindowInfo" maxOccurs="unbounded"/>
									<xs:element name="Area" type="SurfaceArea" minOccurs="0"/>
									<xs:element name="Azimuth" type="AzimuthType" minOccurs="0"/>
									<xs:element minOccurs="0" name="Orientation"
										type="OrientationType"/>
									<xs:element minOccurs="0" name="AttachedToWall"
										type="SystemIdentifiersInfoType"/>
									<xs:group ref="ExtensibilityGroup"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="Skylights">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="SkylightGroup">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" ref="WindowInfo"/>
									<xs:element name="Area" type="SurfaceArea" minOccurs="0"/>
									<xs:element name="Azimuth" type="AzimuthType" minOccurs="0"/>
									<xs:element minOccurs="0" name="Orientation"
										type="OrientationType"/>
									<xs:element minOccurs="0" name="Pitch" type="Pitch">
										<xs:annotation>
											<xs:documentation>?/12</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element minOccurs="0" name="AttachedToRoof"
										type="SystemIdentifiersInfoType"/>
									<xs:group ref="ExtensibilityGroup"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Doors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Door" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DoorsInfo" maxOccurs="unbounded"/>
									<xs:element minOccurs="0" name="Area" type="SurfaceArea">
										<xs:annotation>
											<xs:documentation>Door are in sq.ft.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Azimuth" type="AzimuthType" minOccurs="0"/>
									<xs:element minOccurs="0" name="Orientation"
										type="OrientationType"/>
									<xs:element minOccurs="0" name="AttachedToWall"
										type="SystemIdentifiersInfoType"/>
									<xs:group ref="ExtensibilityGroup"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Systems">
		<xs:sequence>
			<xs:element name="HVAC" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HVACPlantInfo" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="HeatingSystemInfo" minOccurs="0"
										maxOccurs="unbounded"/>
									<xs:element ref="CoolingSystemInfo" minOccurs="0"
										maxOccurs="unbounded"/>
									<xs:element ref="HeatPumpInfo" minOccurs="0"
										maxOccurs="unbounded"/>
									<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="ThermostatInfo" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="HVACDistributionInfo" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WaterHeating" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="WaterHeatingSystemInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="SolarThermal">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="SolarThermalInfo" maxOccurs="unbounded" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="Photovoltaics">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="PVInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Appliances">
		<xs:sequence>
			<xs:element ref="ClothesWasher" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ClothesDryer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Dishwasher" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Refrigerator" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Freezer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="CookingRange"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="Oven"/>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Lighting">
		<xs:sequence>
			<xs:element name="LightingGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Light bulbs of the same type. For example you could have all the 60W incandescants. If the fraction of each lighting type option is used, then it only makes sense to have one lighting group describing the lighting for the whole house.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="Location" type="LightingLocation"/>
						<xs:element ref="LightingInfo" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>For example: 15 x 60 W incandescant, replaced by 15 x 13W CFL. As many replacement options as you want.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LightingControlsGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A similar group of lighting controls</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AttachedToLightingGroup"
							type="SystemIdentifiersInfoType"/>
						<xs:element ref="LightingControlsInfo" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Existing option plus different replacement options available or installed.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MiscLoads">
		<xs:sequence>
			<xs:element ref="PlugLoadControlInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherHighConsumptionDevices" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fuel" type="HeatingSystemFuel"/>
						<xs:element name="OtherHECDeviceType" type="OtherHECDeviceType"/>
						<xs:element name="NumberOfOtherHECDevice" type="xs:integer"/>
						<xs:element minOccurs="0" name="OtherHECDeviceLoad" type="xs:double"/>
						<xs:element minOccurs="0" name="OtherHECDeviceUnits"
							type="OtherHECDeviceUnits"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HealthAndSafety">
		<xs:sequence>
			<xs:element name="Ventilation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="VentilationInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MoistureControl" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="MoistureControlInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="CombustionApplianceZoneTestInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="StoveTest" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="OtherHealthandSafetyInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusMessage">
		<xs:sequence>
			<xs:element name="MessageType" type="xs:string"/>
			<xs:element name="MessageID" type="xs:string"/>
			<xs:element name="Message" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="FuelSavings">
		<xs:sequence>
			<xs:element name="FuelType" type="energyType"/>
			<xs:element name="Units" type="energyUnitType"/>
			<xs:element name="TotalSavings" type="xs:double"/>
			<xs:group ref="EndUseSavings" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element name="TotalDollarSavings" type="xs:double" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="EndUseSavings">
		<xs:sequence>
			<xs:element name="EndUse" type="endUseType"/>
			<xs:element name="EndUseSavings" type="xs:double"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="EnclosureInfo">
		<xs:sequence>
			<xs:element ref="ShadingAndSolarReflectanceInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="InsulationInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AirSealingInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="WindowInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DoorsInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CAZApplianceMeasurement">
		<xs:sequence>
			<xs:element name="Spillage" type="SpillageResult" minOccurs="0"/>
			<xs:element name="COResult" type="COResult" minOccurs="0"/>
			<xs:element name="CarbonMonoxide" type="COValue" minOccurs="0"/>
			<xs:element name="FlueDraftResult" type="FlueDraftResult" minOccurs="0"/>
			<xs:element name="FlueDraft" type="FlueDraftValue" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="SystemInfo">
		<xs:sequence>
			<xs:element name="SystemIdentifier" type="SystemIdentifiersInfoType"/>
			<xs:element name="Event" type="Event">
				<xs:annotation>
					<xs:documentation>This used to be the PreOrPost indicator. If you have an idea for a better name that reflects the multiplicity of possibilities, please let me know.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="HVACSystemInfo">
		<xs:sequence>
			<xs:group ref="SystemInfo"/>
			<xs:element name="UnitLocation" type="UnitLocation" minOccurs="0"/>
			<xs:element name="ModelYear" type="ModelYear" minOccurs="0"/>
			<xs:element name="Manufacturer" type="Manufacturer" minOccurs="0"/>
			<xs:element name="Model" type="Model" minOccurs="0"/>
			<xs:element name="EnergyStarCertified" type="EnergyStarCertified" minOccurs="0"/>
			<xs:element name="SharedVenting" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SharedVentingSystemType" type="SharedVentingSystemType"/>
						<xs:element name="SharedVentingSystemID" type="SystemIdentifiersInfoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DistributionSystem" type="SystemIdentifiersInfoType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="HVACSystemImprovement" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="StandardMeasureFieldsGroup"/>
						<xs:choice>
							<xs:sequence>
								<xs:element name="CleanandTune" type="CleanandTune" minOccurs="0"/>
								<xs:element name="RepairDescription" type="RepairDescription"
									minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
							<xs:element name="SystemReplaced" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DispositionofExistingSystem"
											type="DispositionofExistingSystem" minOccurs="0"/>
										<xs:element name="MeetsACCA5QISpec" type="xs:boolean"
											minOccurs="0"/>
										<xs:element name="SizingCalculationType"
											type="SizingCalculationType" minOccurs="0"/>
										<xs:element name="AirSealingAndInsulationImplementedPrior"
											type="xs:boolean" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="HeatingSystemInfoType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:group ref="HVACSystemInfo"/>
			<xs:element name="HeatingSystemType" type="HeatingSystemType"/>
			<xs:element name="HeatSystemFuel" type="HeatingSystemFuel" minOccurs="0"/>
			<xs:element name="CondensingSystem" type="CondensingSystem" minOccurs="0"/>
			<xs:element name="FractionHeatLoadServed" type="FractionHeatLoadServed" minOccurs="0"/>
			<xs:element name="HeatingCapacity" type="Capacity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Capacity in Btuh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AFUE" type="AFUE" minOccurs="0"/>
			<xs:element name="VentSystem" type="VentSystem" minOccurs="0"/>
			<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeatPumpInfoType">
		<xs:sequence minOccurs="0">
			<xs:group ref="HVACSystemInfo"/>
			<xs:element name="HeatPumpType" type="HeatPumpType" minOccurs="1"/>
			<xs:element name="HeatingCapacity" type="Capacity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Capacity in Btuh. Typically the nameplate capacity at 47F.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="HeatingCapacity17F" type="Capacity">
				<xs:annotation>
					<xs:documentation>Capacity in Btuh at 17F from AHRI database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CoolingCapacity" type="Capacity">
				<xs:annotation>
					<xs:documentation>Capacity in Btuh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CoolingSensibleHeatFraction" type="Fraction"/>
			<xs:element name="GeothermalLoop" type="GeothermalLoop" minOccurs="0"/>
			<xs:element name="BackupSystemFuel" type="HeatingSystemFuel" minOccurs="0"/>
			<xs:element minOccurs="0" name="BackupAFUE" type="AFUE"/>
			<xs:element minOccurs="0" name="BackupHeatingCapacity" type="Capacity">
				<xs:annotation>
					<xs:documentation>Capacity in Btuh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BackupHeatingSwitchoverTemperature" type="Temperature">
				<xs:annotation>
					<xs:documentation>Temperature at which the backup heating is activated in degF.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FracofHeatLoadServed" type="FracofHeatLoadServed" minOccurs="0"/>
			<xs:element name="FracofCoolLoadServed" type="FracCoolLoadServed" minOccurs="0"/>
			<xs:element name="AnnualCoolEfficiencyType" type="AnnualCoolEfficiencyType"
				minOccurs="0"/>
			<xs:element name="AnnualCoolEfficiency" type="Efficiency" minOccurs="0"/>
			<xs:element name="AnnualHeatEfficiencyType" type="AnnualHeatEfficiencyType"
				minOccurs="0"/>
			<xs:element name="AnnualHeatEfficiency" type="Efficiency" minOccurs="0"/>
			<xs:element name="VentSystem" type="VentSystem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoolingSystemInfoType">
		<xs:sequence>
			<xs:group ref="HVACSystemInfo"/>
			<xs:element name="CoolingSystemType" type="CoolingSystemType" minOccurs="0"/>
			<xs:element minOccurs="0" name="CoolingCapacity">
				<xs:annotation>
					<xs:documentation>Capacity in Btuh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FracCoolLoadServed" type="FracCoolLoadServed" minOccurs="0"/>
			<xs:element name="EfficiencyType" type="EfficiencyType" minOccurs="0"/>
			<xs:element name="Efficiency" type="Efficiency" minOccurs="0"/>
			<xs:element minOccurs="0" name="CoolingSensibleHeatFraction" type="Fraction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HydronicDistributionInfo">
		<xs:sequence>
			<xs:element name="FracHydronicPipeInsulated" type="Fraction" minOccurs="0"/>
			<xs:element name="HydronicDistributionType" type="HydronicDistributionType"
				minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirDistributionInfo">
		<xs:sequence>
			<xs:element name="AirDistributionType" type="AirDistributionType" minOccurs="0"/>
			<xs:element name="AirHandlerMotorType" type="AirHandlerMotorType" minOccurs="0"/>
			<xs:element name="PreRetrofitDuctSizingWasAppropriate"
				type="PreRetrofitDuctSizingWasAppropriate" minOccurs="0"/>
			<xs:element ref="DuctLeakageMeasurement" minOccurs="0"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Ducts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DuctType" type="DuctType"/>
						<xs:element name="MaterialDuctSystemOutsideCondSpace" type="DuctMaterial"
							minOccurs="0"/>
						<xs:element name="DuctInsulationOutsideEnvelope" type="RValue" minOccurs="0"/>
						<xs:element minOccurs="0" name="DuctLocations">
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="DuctLocation" type="DuctLocation"/>
									<xs:element name="FractionDuctsInLocation" type="Fraction"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="DuctSurfaceArea" type="SurfaceArea"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectricResistanceDistribution">
		<xs:sequence>
			<xs:element name="ElectricResistanceDistributionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DuctLeakageMeasurement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DuctLeakageTestUnitofMeasure" type="DuctLeakageTestUnitofMeasure"
					minOccurs="0"/>
				<xs:element name="LeakinessObservedVisualInspection"
					type="LeakinessObservedVisualInspection" minOccurs="0"/>
				<xs:element name="DuctLeakageTestMethod" type="DuctLeakageTestMethod" minOccurs="0"/>
				<xs:element name="DuctLeakageTest" type="DuctLeakageTest" minOccurs="0"/>
				<xs:element name="MeasuredDuctLeakage" type="MeasuredDuctLeakage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobSystemIdentifiers">
		<xs:annotation>
			<xs:documentation>HPXML records may contain data about an individual, either a person, or a business.  This element contains the root elements for individual identifier values between a sending and a receiving system.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemIdentifiersInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingSystemIdentifiers">
		<xs:annotation>
			<xs:documentation>HPXML records may contain data about an individual, either a person, or a business.  This element contains the root elements for individual identifier values between a sending and a receiving system.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemIdentifiersInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConstructionInfo"/>
				<xs:element ref="ClimateandRiskZonesInfo"/>
				<xs:element ref="ConsumptionInfo"/>
				<xs:group ref="ApplianceTypeSummaryInfo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobSystemIdentifiers"/>
				<xs:element name="ProgramName" type="ProgramName" minOccurs="0"/>
				<xs:element name="Type" type="Type" minOccurs="0"/>
				<xs:element name="Title" type="Title" minOccurs="0"/>
				<xs:element name="Status" type="Status" minOccurs="0"/>
				<xs:element name="Phase" type="Phase" minOccurs="0"/>
				<xs:element name="StartDate" type="StartDate" minOccurs="0"/>
				<xs:element name="CompleteDateEstimated" type="CompleteDateEstimated" minOccurs="0"/>
				<xs:element name="CompleteDateActual" type="CompleteDateActual" minOccurs="0"/>
				<xs:element name="Notes" type="Notes" minOccurs="0"/>
				<xs:element ref="MiscDataFields" minOccurs="0"/>
				<xs:element name="Measures">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element ref="MeasureDetailsInfo"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncentiveInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TotalAmount" type="TotalAmount"/>
				<xs:element ref="SponsorInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SponsorInfo">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="SponsorCode" type="SponsorCode" minOccurs="0"/>
				<xs:element name="SponsorName" type="SponsorName" minOccurs="0"/>
				<xs:element name="IncentiveAmount" type="IncentiveAmount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobAssociations">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="Jobs" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Job">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Role"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Associations">
		<xs:complexType>
			<xs:all minOccurs="0">
				<xs:element name="Job" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Measures" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Measure" minOccurs="0"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="ID" type="xs:int" use="required"
												/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="JobRole" type="JobRole" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Locations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Location" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="ID" type="xs:int" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contractor" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="ID" type="xs:int"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResourcesSaved">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResourceTypeCode" type="ResourceTypeCode"/>
				<xs:element name="LoadProfile" type="LoadProfile" minOccurs="0"/>
				<xs:element name="Quantity" type="Quantity"/>
				<xs:element name="AnnualAmount" type="AnnualAmount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResourceSavingsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResourcesSaved" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MeasureDetailsInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MeasureCode" type="MeasureCode" minOccurs="0"/>
				<xs:element name="MeasureDescription" type="MeasureDescription" minOccurs="0"/>
				<xs:element name="Quantity" type="Quantity" minOccurs="0"/>
				<xs:element name="Location" type="UnitLocation" minOccurs="0"/>
				<xs:element name="EstimatedLife" type="EstimatedLife" minOccurs="0"/>
				<xs:element name="InstallationDate" type="InstallationDate" minOccurs="0"/>
				<xs:element name="Cost" type="Cost" minOccurs="0"/>
				<xs:element name="UnitPricingIndicator" type="UnitPricingIndicator" minOccurs="0"/>
				<xs:element ref="IncentiveInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ResourceSavingsInfo" minOccurs="0"/>
				<xs:element ref="MiscDataFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemsInfo">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="SystemTypeCode" type="SystemTypeCode" minOccurs="0"/>
				<xs:element name="SystemTypeName" type="SystemTypeName" minOccurs="0"/>
				<xs:element name="FuelType" type="FuelType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressSystemIdentifiers"/>
				<xs:element ref="UtilityInfo" minOccurs="0"/>
				<xs:group ref="AddressInformation" minOccurs="0"/>
				<xs:element ref="Associations" minOccurs="0"/>
				<xs:group ref="LocationCharacteristicGroup" minOccurs="0"/>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferralInfo">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReferredBy" type="ReferredBy" minOccurs="0"/>
				<xs:element name="HowRefered" type="HowRefered" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerInfo">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:group ref="IndividualInfo"/>
				<xs:element ref="AddressSystemIdentifiers" minOccurs="0"/>
				<xs:group ref="AddressInformation" minOccurs="0"/>
				<xs:element ref="ReferralInfo" minOccurs="0"/>
				<xs:element ref="Associations" minOccurs="0"/>
				<xs:group ref="ApplianceTypeSummaryInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractorInfo">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="ContractorSystemIdentifiers"/>
				<xs:element ref="Associations"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemIdentifiersInfo">
		<xs:annotation>
			<xs:documentation>System identifiers contain type codes and an identifier for both a sending and a receiving system.  These fields are needed to be able to transmit data between two systems, and have it identified in the two systems.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SendingSystemIdentifierType" type="SendingSystemIdentifierType"/>
				<xs:element name="SendingSystemIdentifierValue" type="SendingSystemIdentifierValue"/>
				<xs:element name="ReceivingSystemIdentifierType"
					type="ReceivingSystemIdentifierType" minOccurs="0"/>
				<xs:element name="ReceivingSystemIdentifierValue"
					type="ReceivingSystemIdentifierValue" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="LocationCharacteristicGroup">
		<xs:sequence>
			<xs:element name="YearBuilt" type="YearBuilt" minOccurs="0"/>
			<xs:element name="SquareFeet" type="SquareFeet" minOccurs="0"/>
			<xs:element name="NumberOfUnits" type="NumberofUnits" minOccurs="0"/>
			<xs:element name="NumberOfFloors" type="NumberOfFloors" minOccurs="0"/>
			<xs:element ref="SystemsInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FoundationType" type="FoundationType" minOccurs="0"/>
			<xs:element name="NumberofBedrooms" type="NumberofBedrooms" minOccurs="0"/>
			<xs:element name="NumberOfShowers" type="NumberOfShowers" minOccurs="0"/>
			<xs:element minOccurs="0" name="Appliances">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="ApplianceTypeSummaryInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:element name="HVACDistributionInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="HVACDistributionSystemType" type="HVACDistributionSystemType"/>
				<xs:choice minOccurs="0">
					<xs:element minOccurs="0" name="AirDistribution" type="AirDistributionInfo"/>
					<xs:element minOccurs="0" name="HydronicDistribution"
						type="HydronicDistributionInfo"/>
					<xs:element minOccurs="0" name="ElectricDistribution"
						type="ElectricDistributionType"/>
				</xs:choice>
				<xs:element minOccurs="0" name="ConditionedFloorAreaServed" type="SurfaceArea">
					<xs:annotation>
						<xs:documentation>Conditioned floor area in sq.ft. that this distribution system serves.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DistributionSystemImprovementInfo" minOccurs="0"
					maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup" minOccurs="0"/>
							<xs:element name="DuctSystemSealed" type="DuctSystemSealed"
								minOccurs="0"/>
							<xs:element name="DuctOutsideEnvelopeInsulatedaspartofRetrofit"
								type="DuctOutsideEnvelopeInsulatedaspartofRetrofit" minOccurs="0"/>
							<xs:element name="DuctSystemReplaced" type="DuctSystemReplaced"
								minOccurs="0"/>
							<xs:element name="SystemPumpandZoneValveCorrectionsMade"
								type="SystemPumpandZoneValveCorrectionsMade" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AmbientCO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AmbientCOStove" type="xs:double"/>
				<xs:element name="AmbientCOKitchen" type="xs:double"/>
				<xs:element name="AmbientCOLivingRoom" type="xs:double"/>
				<xs:element name="AmbientCOOther" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StudDimensions">
		<xs:sequence>
			<xs:element minOccurs="0" name="Size" type="StudSize">
				<xs:annotation>
					<xs:documentation>Type of stud, joist, etc. (2x4, 2x6, etc)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Spacing" type="LengthMeasurement">
				<xs:annotation>
					<xs:documentation>Spacing on center in inches</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FramingFactor" type="Fraction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SolarThermalInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element name="SystemType" minOccurs="1" type="SolarThermalSystemType"/>
				<xs:element name="CollectorArea" type="SurfaceArea" minOccurs="0">
					<xs:annotation>
						<xs:documentation>in sq.ft.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="CollectorLoopType"
					type="SolarThermalCollectorLoopType"/>
				<xs:element minOccurs="0" name="CollectorType" type="SolarThermalCollectorType"/>
				<xs:element minOccurs="0" name="CollectorOrientation" type="OrientationType"/>
				<xs:element minOccurs="0" name="CollectorAzimuth" type="AzimuthType"/>
				<xs:element minOccurs="0" name="CollectorTilt" type="Tilt"/>
				<xs:element minOccurs="0" name="StorageVolume" type="Volume">
					<xs:annotation>
						<xs:documentation>in gallons</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="ConnectedTo" type="SystemIdentifiersInfoType"/>
				<xs:element minOccurs="0" name="SolarThermalImprovementInfo" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
							<xs:group minOccurs="0" ref="ExtensibilityGroup"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PVInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="SystemInfo"/>
				<xs:element minOccurs="0" name="ArrayOrientation" type="OrientationType"/>
				<xs:element minOccurs="0" name="ArrayAzimuth" type="AzimuthType"/>
				<xs:element minOccurs="0" name="ArrayTilt" type="Tilt"/>
				<xs:element minOccurs="0" name="MaxPowerOutput" type="Power">
					<xs:annotation>
						<xs:documentation>Peak power in DC Watts as supplied by the manufacturer</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="CollectorArea" type="SurfaceArea">
					<xs:annotation>
						<xs:documentation>in sq.ft.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="InverterEfficiency" type="Efficiency"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="PVImprovementInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="StandardMeasureFieldsGroup"/>
							<xs:group ref="ExtensibilityGroup"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:group ref="ExtensibilityGroup"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
