schemas/HPXMLDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Andrew Steven Pollock (Conservation Services Group) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hpxml.org/hpxml/2011/1"
	targetNamespace="http://hpxml.org/hpxml/2011/1" elementFormDefault="qualified">
	<!-- Value Lists -->
	<!--Address Information Below-->
	<xs:simpleType name="AddressTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="street"/>
			<xs:enumeration value="mailing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Address1" final="">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Address2">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CityMunicipality">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StateCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ZipCodePlus4">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="USPSBarCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Name Information Below-->
	<xs:simpleType name="NameTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FirstName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LastName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MiddleName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PrefixName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SuffixName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BusinessName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IndividualTypeCode">
		<xs:annotation>
			<xs:documentation>Customer, Contractor, Landlord</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="customer"/>
			<xs:enumeration value="contractor"/>
			<xs:enumeration value="landlord"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Certification">
		<xs:annotation>
			<xs:documentation>This represents the certifications obtained by an employee of a contracting company.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Telephone Information Below-->
	<xs:simpleType name="TelephoneTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TelephoneNumber">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TelephoneExtension">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Email Information Below-->
	<xs:simpleType name="EmailTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="EmailAddress">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--System Identifiers Below-->
	<xs:simpleType name="SendingSystemIdentifierType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SendingSystemIdentifierValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReceivingSystemIdentifierType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReceivingSystemIdentifierValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--XMLTransaction Header Information Below-->
	<xs:simpleType name="XMLType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="XMLGeneratedBy">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CreatedDateAndTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!--Utility Information Below-->
	<xs:simpleType name="UtilityAccountNumber">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UtilityName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UtilityServiceTypeProvided">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Misc Data Fields Below-->
	<xs:simpleType name="FieldSequenceNumber">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="FieldName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FieldDataType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FieldValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FieldMask">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Air Infiltration Below-->
	<xs:simpleType name="BuildingAirLeakage">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuildingAirLeakageUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CFM25"/>
			<xs:enumeration value="CFM50"/>
			<xs:enumeration value="CFM75"/>
			<xs:enumeration value="ACHnatural"/>
			<xs:enumeration value="ACH50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FanPressure">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FanRingUsed">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="NameofBusinessConductingTest">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="NameofIndividualConductingTest">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OutsideTemperature">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TestDate">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="TestInorOut">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TestIn"/>
			<xs:enumeration value="TestOut"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeofBlowerDoorTest">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pressurization"/>
			<xs:enumeration value="depressurization"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeofInfiltrationMeasurement">
		<xs:restriction base="xs:string">
			<xs:enumeration value="blower door"/>
			<xs:enumeration value="tracer gas"/>
			<xs:enumeration value="estimate"/>
			<xs:enumeration value="checklist"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindconditionsonDayofTest">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Climate and Risk Zones-->
	<xs:simpleType name="ClimateZoneDOE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="subarctic"/>
			<xs:enumeration value="marine"/>
			<xs:enumeration value="hot-dry"/>
			<xs:enumeration value="mixed-dry"/>
			<xs:enumeration value="hot-humid"/>
			<xs:enumeration value="mixed-humid"/>
			<xs:enumeration value="cold"/>
			<xs:enumeration value="very cold"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IECCYear">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="2012"/>
			<xs:enumeration value="2009"/>
			<xs:enumeration value="2006"/>
			<xs:enumeration value="2003"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClimateZoneIECC">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1A"/>
			<xs:enumeration value="1B"/>
			<xs:enumeration value="1C"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="2C"/>
			<xs:enumeration value="3A"/>
			<xs:enumeration value="3B"/>
			<xs:enumeration value="3C"/>
			<xs:enumeration value="4A"/>
			<xs:enumeration value="4B"/>
			<xs:enumeration value="4C"/>
			<xs:enumeration value="5A"/>
			<xs:enumeration value="5B"/>
			<xs:enumeration value="5C"/>
			<xs:enumeration value="6A"/>
			<xs:enumeration value="6B"/>
			<xs:enumeration value="6C"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarthquakeZone">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="RadonZone">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TermiteZone">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none to slight"/>
			<xs:enumeration value="slight to moderate"/>
			<xs:enumeration value="moderate to heavy"/>
			<xs:enumeration value="very heavy"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Construction Below-->
	<xs:simpleType name="ConditionedVolume">
		<xs:annotation>
			<xs:documentation>cubic feet</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConditionedFloorArea">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FoundationInsulation">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FoundationType">
		<xs:annotation>
			<xs:documentation>above apartment is for single unit retorfits in multifamily properties</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned basement"/>
			<xs:enumeration value="unconditioned basement"/>
			<xs:enumeration value="finished basement"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="vented crawlspace"/>
			<xs:enumeration value="unvented crawlspace"/>
			<xs:enumeration value="conditioned crawlspace"/>
			<xs:enumeration value="slab on grade"/>
			<xs:enumeration value="conditioned garage"/>
			<xs:enumeration value="unconditioned garage"/>
			<xs:enumeration value="combination"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="above apartment"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FoundationTypeCombined">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Combination"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResidentialFacilityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single-family detached"/>
			<xs:enumeration value="single-family attached"/>
			<xs:enumeration value="manufactured home"/>
			<xs:enumeration value="2-4 unit building"/>
			<xs:enumeration value="5+ unit building"/>
			<xs:enumeration value="multi-family - uncategorized"/>
			<xs:enumeration value="multi-family - town homes"/>
			<xs:enumeration value="multi-family - condos"/>
			<xs:enumeration value="apartment unit"/>
			<xs:enumeration value="studio unit"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EducationLevels">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no high school"/>
			<xs:enumeration value="some high school"/>
			<xs:enumeration value="high school graduate"/>
			<xs:enumeration value="some college"/>
			<xs:enumeration value="vocational/technical/associates degree"/>
			<xs:enumeration value="bachelor's degree"/>
			<xs:enumeration value="some post graduate "/>
			<xs:enumeration value="master's degree"/>
			<xs:enumeration value="professional degree"/>
			<xs:enumeration value="doctoral degree"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FootprintShape">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rectangular"/>
			<xs:enumeration value="square"/>
			<xs:enumeration value="circular"/>
			<xs:enumeration value="L-shaped"/>
			<xs:enumeration value="U-shaped"/>
			<xs:enumeration value="I-shaped"/>
			<xs:enumeration value="V-shaped"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrientationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="north"/>
			<xs:enumeration value="northwest"/>
			<xs:enumeration value="west"/>
			<xs:enumeration value="southwest"/>
			<xs:enumeration value="south"/>
			<xs:enumeration value="southeast"/>
			<xs:enumeration value="east"/>
			<xs:enumeration value="northeast"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntegerGreaterThanZero">
		<xs:restriction base="xs:integer">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntegerGreaterThanOrEqualToZero">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PredominantWindowFrameType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PredominantWindowGlazingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Single with storm windows"/>
			<xs:enumeration value="Double"/>
			<xs:enumeration value="Double low-e"/>
			<xs:enumeration value="Triple"/>
			<xs:enumeration value="Triple low-e"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RadiantBarrier">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="SiteType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rural"/>
			<xs:enumeration value="suburban"/>
			<xs:enumeration value="urban"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Surroundings">
		<xs:restriction base="xs:string">
			<xs:enumeration value="stand-alone"/>
			<xs:enumeration value="attached on one side"/>
			<xs:enumeration value="attached on two sides"/>
			<xs:enumeration value="attached on three sides"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShieldingofHome">
		<xs:restriction base="xs:string">
			<xs:enumeration value="well-shielded"/>
			<xs:enumeration value="normal"/>
			<xs:enumeration value="exposed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GarageLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="basement"/>
			<xs:enumeration value="first floor"/>
			<xs:enumeration value="detached"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpaceAboveGarage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned area"/>
			<xs:enumeration value="unconditioned attic"/>
			<xs:enumeration value="crawlspace"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WallInsulationNominalRValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="WindowShading">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HouseholdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="family household"/>
			<xs:enumeration value="married couple, no children"/>
			<xs:enumeration value="male household, no spouse"/>
			<xs:enumeration value="female household, no spouse"/>
			<xs:enumeration value="nonfamily household"/>
			<xs:enumeration value="single male"/>
			<xs:enumeration value="single female"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResidentPopulationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no specific resident population"/>
			<xs:enumeration value="student"/>
			<xs:enumeration value="military"/>
			<xs:enumeration value="senior"/>
			<xs:enumeration value="special accessibility needs"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Occupancy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="owner-occupied"/>
			<xs:enumeration value="renter-occupied"/>
			<xs:enumeration value="owner-and-renter-occupied"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OccupantIncomeRangeUnits">
		<xs:annotation>
			<xs:documentation>AMI = Area Median Income; FPL = Federal Poverty Level</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="% AMI"/>
			<xs:enumeration value="% FPL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Year">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!--Consumption Start-->
	<xs:simpleType name="ConsumptionType">
		<xs:union memberTypes="FuelType otherConsumptionType"/>
	</xs:simpleType>
	<!--Consumption Details Start-->
	<xs:simpleType name="otherConsumptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Water"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartDateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="EndDateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!--Heating Stoves Start-->
	<xs:simpleType name="COReading">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="GasLeaksIdentified">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FuelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="electricity"/>
			<xs:enumeration value="natural gas"/>
			<xs:enumeration value="liquified propane gas"/>
			<xs:enumeration value="fuel oil #2"/>
			<xs:enumeration value="kerosene"/>
			<xs:enumeration value="wood (hard)"/>
			<xs:enumeration value="wood (soft)"/>
			<xs:enumeration value="wood pellets"/>
			<xs:enumeration value="coal (anthracite)"/>
			<xs:enumeration value="coal (bituminous)"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeatingStoveProperlyVented">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!--Other Health and Safety Below-->
	<xs:simpleType name="ExtDisturbanceExceed6SQFTforPre1978">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OneCODetectorPerFloorMeetsLocalCode">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OtherActionsTakenDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OtherHealthandSafetyIdentifier">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RadonTestResults">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SmokeAlarmsMeetLocalCode">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!--Standard Measure Fields Below-->
	<xs:simpleType name="SystemIdentifierValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Event">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ConstructionDivison">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="ImplementationCost">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="AdditionalInformation">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Air Sealing Below-->
	<xs:simpleType name="AreasAirSealed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attic floor"/>
			<xs:enumeration value="fenestrations"/>
			<xs:enumeration value="cantilevers"/>
			<xs:enumeration value="home-garage connection"/>
			<xs:enumeration value="first floor rim joist"/>
			<xs:enumeration value="second floor rim joist"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="plumbing chase"/>
			<xs:enumeration value="chimney chase"/>
			<xs:enumeration value="dropped soffit"/>
			<xs:enumeration value="offset ceiling"/>
			<xs:enumeration value="attic hatch/access"/>
			<xs:enumeration value="fireplace damper"/>
			<xs:enumeration value="foundation service penetration"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Doors Below-->
	<xs:simpleType name="WallType">
		<xs:annotation>
			<xs:documentation>Wall type enumerations are further explained at
https://hpxml.nrel.gov/wiki/WallTypes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="wood stud"/>
			<xs:enumeration value="double stud"/>
			<xs:enumeration value="CMU"/>
			<xs:enumeration value="SIP"/>
			<xs:enumeration value="steel frame"/>
			<xs:enumeration value="solid concrete"/>
			<xs:enumeration value="double brick"/>
			<xs:enumeration value="ICF"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FoundationWallType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="solid concrete"/>
			<xs:enumeration value="concrete block"/>
			<xs:enumeration value="concrete block foam core"/>
			<xs:enumeration value="concrete block vermiculite core"/>
			<xs:enumeration value="double brick"/>
			<xs:enumeration value="wood"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdjacentTo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ambient"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="attic"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="crawlspace"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FramingFactor">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudSize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2x4"/>
			<xs:enumeration value="2x6"/>
			<xs:enumeration value="2x8"/>
			<xs:enumeration value="2x10"/>
			<xs:enumeration value="2x12"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudSpacing">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StormDoor">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="DoorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="solid wood"/>
			<xs:enumeration value="wood panel"/>
			<xs:enumeration value="foam-filled steel"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RValue">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Insulation Below-->
	<xs:simpleType name="InstallationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cavity"/>
			<xs:enumeration value="continuous"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationMaterial">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fiberglass batt"/>
			<xs:enumeration value="loose fiberglass"/>
			<xs:enumeration value="cellulose"/>
			<xs:enumeration value="EPS"/>
			<xs:enumeration value="XPS"/>
			<xs:enumeration value="polyisocyanurate"/>
			<xs:enumeration value="polyurethene"/>
			<xs:enumeration value="rock wool"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Thickness">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Lighting Below-->
	<xs:simpleType name="NumberofReplacementBulbs">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!--Lighting Controls Below-->
	<xs:simpleType name="LightingLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="interior"/>
			<xs:enumeration value="exterior"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberofReplacementsInstalled">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="LightingControls">
		<xs:restriction base="xs:string">
			<xs:enumeration value="occupancy sensor"/>
			<xs:enumeration value="photo sensor"/>
			<xs:enumeration value="timer"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Moisture Control Below-->
	<xs:simpleType name="ExteriorLocationsWaterIntrusionorDamage">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FlashingInstalledorRepaired">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FoundationGradingImproved">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="GuttersInstalledorRepaired">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="InteriorLocationsofWaterLeaksorDamage">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OtherMeasuresImplementedDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VaporRetardersInstalled">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!--Plug Load Controls Below-->
	<xs:simpleType name="NumberofPlugLoadControls">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Shading and Solar Reflectance Below-->
	<xs:simpleType name="PlugLoadControlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="advanced power strip for AV"/>
			<xs:enumeration value="advanced power strip for IT"/>
			<xs:enumeration value="whole-house energy management system"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherShadingandSolarMeasuresInstalled">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RadiantBarrierLocation">
		<xs:annotation>
			<xs:documentation>Enumerations from http://www.fsec.ucf.edu/en/publications/pdf/FSEC-DN-7-84.pdf</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="top side of truss under sheathing"/>
			<xs:enumeration value="below bottom chord of truss"/>
			<xs:enumeration value="attic floor"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Ventilation Below-->
	<xs:simpleType name="GarageDuctsandAirHandlersAirSealed">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="MechanicalVentilationDetermination">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MechanicalVentilationInstalled">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MVRatCFM50">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="MVRDeterminationMethod">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OtherVentilationIssuesDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PostRetrofitAirLeakage">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProperClothersDryerVenting">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="VentType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VentLocation">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VentstoOutdoors">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!--Window Group Below-->
	<xs:simpleType name="EnergyStarCertified">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="Frame">
		<xs:restriction base="xs:string">
			<xs:enumeration value="wood"/>
			<xs:enumeration value="vinyl"/>
			<xs:enumeration value="metal"/>
			<xs:enumeration value="metal with thermal break"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Glazing">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single"/>
			<xs:enumeration value="single with storm windows"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="double low-e"/>
			<xs:enumeration value="triple"/>
			<xs:enumeration value="triple low-e"/>
			<xs:enumeration value="quad"/>
			<xs:enumeration value="quad low-e"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NFRCCertified">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="SHGC">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxExclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InteriorShading">
		<xs:restriction base="xs:string">
			<xs:enumeration value="light blinds"/>
			<xs:enumeration value="dark blinds"/>
			<xs:enumeration value="light shades"/>
			<xs:enumeration value="dark shades"/>
			<xs:enumeration value="light curtains"/>
			<xs:enumeration value="dark curtains"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExteriorShading">
		<xs:restriction base="xs:string">
			<xs:enumeration value="solar screen"/>
			<xs:enumeration value="awning"/>
			<xs:enumeration value="overhang"/>
			<xs:enumeration value="deciduous tree"/>
			<xs:enumeration value="evergreen tree"/>
			<xs:enumeration value="building"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Treatments">
		<xs:restriction base="xs:string">
			<xs:enumeration value="window film"/>
			<xs:enumeration value="solar screen"/>
			<xs:enumeration value="shading"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UFactor">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Combustion Applicance Tests Below-->
	<xs:simpleType name="AllGasLeaksAddressed">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="AllOilLeaksAddressed">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FlueCondition">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FlueInspected">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OilLeaksIdentified">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OutsideTemperatureFlueDraftTest">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StackTemperature">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-AirHandler">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-BasementDoor">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-BathExhaustFan">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-CentralVacuum">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-ClothesDryer">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-KitchenExhaustFan">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-OtherDescription">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCase-OtherDoors">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="COResult">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="COValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FlueDraftResult">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FlueDraftValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="NormalWorstCaseIndicator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SpillageResult">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Combustion Appliance Zone Test Below-->
	<xs:simpleType name="AmbientCOinCAZExceeded35ppmduringTesting" final="">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="AmountAmbientCOinCAZduringTesting">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="BaselinePressure">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="CAZDepressurizationLimit">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="CAZVentConfiguration">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DepressurizationFindingWorstCase">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="NetPressureChange">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCaseConditions">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="WorstCasePressure">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<!--Cooling System Information Below-->
	<xs:simpleType name="CoolingSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="central air conditioning"/>
			<xs:enumeration value="mini-split"/>
			<xs:enumeration value="room air conditioner"/>
			<xs:enumeration value="heat pump"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Efficiency">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Heat Pump Information Below-->
	<xs:simpleType name="AnnualCoolEfficiency">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualCoolEfficiencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEER"/>
			<xs:enumeration value="EER"/>
			<xs:enumeration value="COP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnnualHeatEfficiency">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualHeatEfficiencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HSPF"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="AFUE"/>
			<xs:enumeration value="PercentEfficiency"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeothermalLoop">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open"/>
			<xs:enumeration value="closed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeatPumpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="water-to-air"/>
			<xs:enumeration value="water-to-water"/>
			<xs:enumeration value="air-to-air"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PCTofCoolLoadServed">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VentSystem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="atmospheric"/>
			<xs:enumeration value="induced draft"/>
			<xs:enumeration value="power vented (at unit)"/>
			<xs:enumeration value="power vented (at exterior)"/>
			<xs:enumeration value="direct vented"/>
			<xs:enumeration value="sealed combustion"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Heating System Information Below-->
	<xs:simpleType name="AFUE">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CondensingSystem">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="DistributionSystem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hydronic"/>
			<xs:enumeration value="air"/>
			<xs:enumeration value="electric resistance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InputCapacity">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--HVAC Distribution Below-->
	<xs:simpleType name="DuctType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="supply"/>
			<xs:enumeration value="return"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctMaterial">
		<xs:restriction base="xs:string">
			<xs:enumeration value="flex duct"/>
			<xs:enumeration value="duct board"/>
			<xs:enumeration value="galvanized steel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned space"/>
			<xs:enumeration value="unconditioned attic"/>
			<xs:enumeration value="unconditioned basement"/>
			<xs:enumeration value="unconditioned crawlspace"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="exterior wall"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctLeakageTest">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DuctLeakageTestMethod">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DuctLeakageTestUnitofMeasure">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CFM50"/>
			<xs:enumeration value="CFM25"/>
			<xs:enumeration value="effective leakage area"/>
			<xs:enumeration value="CFM per Std 152"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctOutsideEnvelopeInsulatedaspartofRetrofit">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="DuctSystemReplaced">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="DuctSystemSealed">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="LeakinessObservedVisualInspection">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MaterialDuctSystemOutsideCondSpace">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PCTDuctSystemOutsideCondSpace">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="PCTDuctSystemOutsideCondSpaceinWallCavity">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="MeasuredDuctLeakage">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="PostRetrofitReturnDuctInsulationOutsideEnvelope">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PostRetrofitSupplyDuctInsulationOutsideEnvelope">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PreRetrofitDuctSizingWasAppropriate">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="PreRetrofitMeasuredDuctLeakage">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PreRetrofitPCTHydronicPipeInsulated">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PreRetrofitReturnDuctInsulationOutsideEnvelope">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DuctInsulationLevel">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PressurePanAverageTestIn">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PressurePanAverageTestOut">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SystemPumpandZoneValveCorrectionsMade">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--HVAC System Below-->
	<xs:simpleType name="HVACSystemId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Capacity">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="CleanandTune">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="DispositionofExistingSystem">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Manufacturer">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Model">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RepairDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UnitLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned basement"/>
			<xs:enumeration value="unconditioned basement"/>
			<xs:enumeration value="vented crawlspace"/>
			<xs:enumeration value="unvented crawlspace"/>
			<xs:enumeration value="conditioned garage"/>
			<xs:enumeration value="unconditioned garage"/>
			<xs:enumeration value="conditioned attic"/>
			<xs:enumeration value="unconditioned attic"/>
			<xs:enumeration value="conditioned space"/>
			<xs:enumeration value="mechanical closet"/>
			<xs:enumeration value="roof deck"/>
			<xs:enumeration value="other interior"/>
			<xs:enumeration value="other exterior"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModelYear">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!--Thermostats Below-->
	<xs:simpleType name="Temperature">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="ThermostatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="programmable"/>
			<xs:enumeration value="non-programmable"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hours">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!--Water Heating System Below-->
	<xs:simpleType name="EnergyFactor">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JacketInstalledIndicator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LinearFTPipeInsulated">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeetsACCA5QIHVACSpecification">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="OrphanedIndocator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="PipeInsulated">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RecoveryEfficiency">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RepairsDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SharedVentHVACIdentifier">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SharedVentSystem">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Volume">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThermalEfficiency">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JobType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HVACHWSourceIndicator">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Appliances Below-->
	<xs:simpleType name="ApplianceType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="NumberofUnits">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="PrimaryYear">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Clothes Dryers Below-->
	<xs:simpleType name="ClothersDryerSequenceNumber">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!--Clothes Washer Below-->
	<xs:simpleType name="ClothesWasherSequenceNumber">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="MEF">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="WF">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<!--Dishwasher Below-->
	<xs:simpleType name="DishwasherSequenceNumber">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="HeatDryDefaultOff">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="RatedAnnualkWh">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RatedWaterGalPerCycle">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NewEnergyStarCertified">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!--Freezer Below-->
	<xs:simpleType name="FreezersSequenceNumber">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="DispositionofExistingUnit">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="EnergyConsumption">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Style">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Refrigerators Below-->
	<xs:simpleType name="RefrigeratorSequenceNumber">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="RatedEnergyConsumption">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="PrimaryIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!--Energy Savings Information Below-->
	<xs:simpleType name="TotalCostHealthSafetyMeasures">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="TotalCostQualEnergyMeasures">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualElectricityDemandReduction">
		<xs:annotation>
			<xs:documentation>kW</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualPCTReduction">
		<xs:annotation>
			<xs:documentation>%</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Homeowner Questionaire Below-->
	<xs:simpleType name="HomeownerQuestionaireScore">
		<xs:annotation>
			<xs:documentation>1-10 score of why they chose that option</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Software Information Below-->
	<xs:simpleType name="SoftwareProgramUsed">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SoftwareProgramVersion">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Contractor / Contracting Company Information Below-->
	<xs:simpleType name="BusinessSpecialization">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BusinessType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ContactType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Business Contact Information Below-->
	<xs:simpleType name="AzimuthType">
		<xs:annotation>
			<xs:documentation>Gives compass direction a surface (window, wall) is facing. Measured in degrees clockwise from North.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="360"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AverageCeilingHeightType">
		<xs:annotation>
			<xs:documentation>height in feet of ceiling, on average</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="energyUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cf"/>
			<xs:enumeration value="ccf"/>
			<xs:enumeration value="kcf"/>
			<xs:enumeration value="Mcf"/>
			<xs:enumeration value="therms"/>
			<xs:enumeration value="kBtu"/>
			<xs:enumeration value="Btu"/>
			<xs:enumeration value="MBtu"/>
			<xs:enumeration value="kWh"/>
			<xs:enumeration value="MWh"/>
			<xs:enumeration value="gal"/>
			<xs:enumeration value="cords"/>
			<xs:enumeration value="kgal"/>
			<xs:enumeration value="tons"/>
			<xs:enumeration value="lbs"/>
			<xs:enumeration value="kLbs"/>
			<xs:enumeration value="MLbs"/>
			<xs:enumeration value="ton hours"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="endUseType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Heating"/>
			<xs:enumeration value="Cooling"/>
			<xs:enumeration value="HotWater"/>
			<xs:enumeration value="Appliance"/>
			<xs:enumeration value="Lighting"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulatedComponentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Attic floor"/>
			<xs:enumeration value="Attic kneewall"/>
			<xs:enumeration value="Attic roof"/>
			<xs:enumeration value="Basement wall"/>
			<xs:enumeration value="Crawlspace wall"/>
			<xs:enumeration value="Floor"/>
			<xs:enumeration value="Rim joist"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Shed roof"/>
			<xs:enumeration value="Vaulted ceiling"/>
			<xs:enumeration value="Wall"/>
			<xs:enumeration value="Slab Perimeter"/>
			<xs:enumeration value="Under Slab"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SurfaceArea">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Create"/>
			<xs:enumeration value="Update"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuditorRelationship">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HeatingSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="furnace"/>
			<xs:enumeration value="wall furnace"/>
			<xs:enumeration value="boiler"/>
			<xs:enumeration value="electric"/>
			<xs:enumeration value="fireplace"/>
			<xs:enumeration value="stove"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HVACDistributionSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="air"/>
			<xs:enumeration value="hydronic"/>
			<xs:enumeration value="electric"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HydronicDistributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Baseboard"/>
			<xs:enumeration value="Radiator"/>
			<xs:enumeration value="Radiant floor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirDistributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Regular velocity"/>
			<xs:enumeration value="High velocity"/>
			<xs:enumeration value="Gravity"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectricDistributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Baseboard"/>
			<xs:enumeration value="Radiant"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirHandlerMotorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PSC single-speed"/>
			<xs:enumeration value="PSC multi-speed"/>
			<xs:enumeration value="ECM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SharedVentingSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HVAC"/>
			<xs:enumeration value="DHW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SizingCalculationType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OtherHECDeviceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="space heater"/>
			<xs:enumeration value="pool"/>
			<xs:enumeration value="hot tub"/>
			<xs:enumeration value="water bed"/>
			<xs:enumeration value="aquarium"/>
			<xs:enumeration value="dehumidifier"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherHECDeviceUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kWh/year"/>
			<xs:enumeration value="therms/year"/>
			<xs:enumeration value="Btu/year"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindowCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="good"/>
			<xs:enumeration value="moderate"/>
			<xs:enumeration value="poor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MVRRecommendation">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CAZApplianceType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="WaterHeaterSystemID">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ClothesWasherType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FreezerStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="upright"/>
			<xs:enumeration value="chest"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefrigeratorStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top freezer"/>
			<xs:enumeration value="bottom freezer"/>
			<xs:enumeration value="side-by-side"/>
			<xs:enumeration value="single-door"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaterHeaterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="storage water heater"/>
			<xs:enumeration value="dedicated boiler with storage tank"/>
			<xs:enumeration value="instantaneous water heater"/>
			<xs:enumeration value="heat pump water heater"/>
			<xs:enumeration value="space-heating boiler with storage tank"/>
			<xs:enumeration value="space-heating boiler with tankless coil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarThermalSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hot water"/>
			<xs:enumeration value="hot water and space heating"/>
			<xs:enumeration value="space heating"/>
			<xs:enumeration value="hybrid system"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarThermalCollectorLoopType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="air direct"/>
			<xs:enumeration value="air indirect"/>
			<xs:enumeration value="liquid direct"/>
			<xs:enumeration value="liquid indirect"/>
			<xs:enumeration value="batch heater"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarThermalCollectorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single glazing black"/>
			<xs:enumeration value="single glazing selective"/>
			<xs:enumeration value="double glazing black"/>
			<xs:enumeration value="double glazing selective"/>
			<xs:enumeration value="evacuated tube"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageComponentSequenceId">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="MessageMasterId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="APIKey">
		<xs:annotation>
			<xs:documentation>This is the equivalent of an encryption key.  This helps to lock down the transmission of data between two companies.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="JobIdentier">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ResourceTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Quantity">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualSavingsAmount">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProgramName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProgramType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Title">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Stage">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="CompleteDateEstimated">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="CompleteDateActual">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Notes">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ImportCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasureCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasureDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="EstimatedLife">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="InstallationDate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Cost">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="UnitPricingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="SponsorCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TotalAmount">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="JobStatus">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SponsorName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IncentiveAmount">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="Role">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ID">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="Association">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ResourceName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LoadProfile">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualAmount">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SquareFeet">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="NumberOfUnits">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="NumberOfFloors">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="NumberOfShowers">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="SystemTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SystemTypeName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReferredBy">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HowRefered">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="JobRole">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasureTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PreOrPost">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Fraction">
		<xs:annotation>
			<xs:documentation>A fraction that has to be between 0 and 1 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FractionGreaterThanOne">
		<xs:annotation>
			<xs:documentation>A fraction that can be greater than one (ie 110%)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtticType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CapeCod"/>
			<xs:enumeration value="CathedralCeiling"/>
			<xs:enumeration value="FlatRoof"/>
			<xs:enumeration value="UnventedAttic"/>
			<xs:enumeration value="VentedAttic"/>
			<xs:enumeration value="VentingUnknownAttic"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImprovementStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installed"/>
			<xs:enumeration value="NotInstalled"/>
			<xs:enumeration value="Recommended"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImprovementQAStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Passed"/>
			<xs:enumeration value="Failed"/>
			<xs:enumeration value="NotTested"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImprovementType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FoundationThermalBoundary">
		<xs:restriction base="xs:string">
			<xs:enumeration value="frame floor"/>
			<xs:enumeration value="foundation wall"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WallAndRoofColor">
		<xs:restriction base="xs:string">
			<xs:enumeration value="light"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="dark"/>
			<xs:enumeration value="reflective"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoofType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="standard"/>
			<xs:enumeration value="built-up"/>
			<xs:enumeration value="shingles"/>
			<xs:enumeration value="slate or tile shingles"/>
			<xs:enumeration value="wood shingles/shakes/other wood"/>
			<xs:enumeration value="asphalt/fiberglass/other shingles"/>
			<xs:enumeration value="metal surfacing"/>
			<xs:enumeration value="expanded polystyrene sheathing"/>
			<xs:enumeration value="plastic/rubber/synthetic sheeting"/>
			<xs:enumeration value="concrete"/>
			<xs:enumeration value="cool roof"/>
			<xs:enumeration value="green roof"/>
			<xs:enumeration value="no one major type"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoofSlope">
		<xs:restriction base="xs:string">
			<xs:enumeration value="flat"/>
			<xs:enumeration value="pitched"/>
			<xs:enumeration value="&gt; 2:12"/>
			<xs:enumeration value="&lt; 2:12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Siding">
		<xs:restriction base="xs:string">
			<xs:enumeration value="wood siding"/>
			<xs:enumeration value="stucco"/>
			<xs:enumeration value="vinyl siding"/>
			<xs:enumeration value="aluminum siding"/>
			<xs:enumeration value="brick veneer"/>
			<xs:enumeration value="asbestos siding"/>
			<xs:enumeration value="fiber cement siding"/>
			<xs:enumeration value="composite shingle siding"/>
			<xs:enumeration value="masonite siding"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthMeasurement">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationGrade">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloorCovering">
		<xs:restriction base="xs:string">
			<xs:enumeration value="carpet"/>
			<xs:enumeration value="tile"/>
			<xs:enumeration value="hardwood"/>
			<xs:enumeration value="vinyl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Pitch">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tilt">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Power">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned"/>
			<xs:enumeration value="unconditioned"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConstructionDivision">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
</xs:schema>
