schemas/Operational Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Andrew Steven Pollock (Conservation Services Group) -->
<!--Created with Liquid XML Studio Designer Edition 8.1.2.2399 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://hpxml.org/hpxml/2011/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hpxml.org/hpxml/2011/1" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="HPXMLDataTypes.xsd"/>
	<xs:include schemaLocation="BaseElements.xsd"/>
	<xs:element name="Transactions">
		<xs:annotation>
			<xs:documentation>These are a series of elements that indicate the type of XML and basic descriptive data about the XML.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="XMLTransactionHeaderInformation"/>
				<xs:element name="Jobs" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="JobInfo" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Locations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="LocationInfo" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Customers" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CustomerInfo" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Contractors" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ContractorInfo" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AuditMeasureDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element ref="HeatingSystemInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="AirSealingInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="DoorsInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="InsulationInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="LightingInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="LightingControlsInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="MoistureControlInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="PlugLoadControlInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="ShadingAndSolarReflectanceInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="VentilationInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="WindowInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="CoolingSystemInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="HeatPumpInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="HVACDistributionInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="ThermostatInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="WaterHeatingSystemInfo" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="ClothesDryers" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Dishwashers" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Freezers" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="Refrigerators" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
